<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <strong>Form Tambah</strong> Delivery Order
                        </div>
                        <form id="form_tambah_do" @submit.prevent="onSubmit" :action="this.dataUrl" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" :value="token">
                            <input type="hidden" name="no_kendaraan" :value="no_kendaraan">
                        <div class="card-body">
                            <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Data General</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kode">Kode Driver</label>
                                        <div class="col-md-9">
                                            <input class="form-control" id="kode" type="text" readonly :value="code" name="kode" placeholder="Text">
                                            <span class="help-block info"><small>Kode Ini Digenerate Otomatis Oleh Sistem</small></span>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kode">Driver</label>
                                        <div class="col-md-9">
                                            <select2
                                                    placeholder="Cari Data Driver"
                                                    data-ajax="/ajax/get_data_driver"
                                                    v-validate="'required'"
                                                    name="driver"
                                                    @input="onChangeDriver"
                                                    v-model="driver"></select2>
                                            <span class="text-danger">{{ errors.first('driver') }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="tanggal">Tanggal</label>
                                        <div class="col-md-9">
                                            <datepicker
                                                    :language="id"
                                                    :bootstrap-styling="true"
                                                    v-validate="'required'"
                                                    :calendar-button="true"
                                                    calendar-button-icon="fa fa-calendar"
                                                    :clear-button="true"
                                                    clear-button-icon="fa fa-times"
                                                    id="tanggal"
                                                    :value="tanggal"
                                                    name="uniquename">

                                            </datepicker>
                                            <span class="text-danger">{{ errors.first('tanggal') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kode">Client</label>
                                        <div class="col-md-9">
                                            <select2
                                                    placeholder="Cari Data Client"
                                                    data-ajax="/ajax/get_data_client"
                                                    v-validate="'required'"
                                                    name="client"
                                                    v-model="client"></select2>
                                            <span class="text-danger">{{ errors.first('client') }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="penerima">Nama Penerima</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="penerima"
                                                    type="text"
                                                    v-model="penerima"
                                                    :class="{'is-invalid' : errors.has('penerima')}"
                                                    v-validate="'required'"
                                                    name="penerima"
                                                    placeholder="Masukan Nama Penerima">
                                            <span class="invalid-feedback">{{ errors.first('penerima') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h4 v-show="showDataKendaraan"><i class="fa fa-car"></i>&nbsp;&nbsp;Informasi Kendaraan</h4>
                            <hr v-show="showDataKendaraan">
                            <div class="row" v-show="showDataKendaraan">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="no_plat">Nomor Plat</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="no_plat"
                                                    type="text"
                                                    v-model="no_plat"
                                                    name="no_plat"
                                                    :readonly="true"
                                                    placeholder="Nomor Plat">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="pabrikan">Pabrikan</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="pabrikan"
                                                    type="text"
                                                    v-model="pabrikan"
                                                    name="pabrikan"
                                                    :readonly="true"
                                                    placeholder="Pabrikan">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="pabrikan">No Seri</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="no_seri"
                                                    type="text"
                                                    v-model="no_seri"
                                                    name="no_seri"
                                                    :readonly="true"
                                                    placeholder="Nomor Seri">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="no_mesin">Nomor Mesin</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="no_mesin"
                                                    type="text"
                                                    v-model="no_mesin"
                                                    name="no_mesin"
                                                    :readonly="true"
                                                    placeholder="Nomor Mesin">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="bpkb">Nomor BPKB</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="bpkb"
                                                    type="text"
                                                    v-model="bpkb"
                                                    name="bpkb"
                                                    :readonly="true"
                                                    placeholder="Nomor BPKB">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kir">Nomor KIR</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="kir"
                                                    type="text"
                                                    v-model="kir"
                                                    name="kir"
                                                    :readonly="true"
                                                    placeholder="Nomor KIR">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <h4><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Alamat Pengiriman</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="provinsi">Provinsi</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    :class="{'is-invalid': errors.has('provinsi')}"
                                                    v-validate="'required'"
                                                    id="provinsi"
                                                    type="text"
                                                    v-model="provinsi"
                                                    name="provinsi"
                                                    placeholder="Masukan Nama Provinsi">
                                            <span class="invalid-feedback">{{ errors.first('provinsi') }}</span>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kabupaten">Kabupaten</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    id="kabupaten"
                                                    :class="{'is-invalid': errors.has('kabupaten')}"
                                                    v-validate="'required'"
                                                    type="text"
                                                    v-model="kabupaten"
                                                    name="kabupaten"
                                                    placeholder="Masukan Nama Kabupaten">
                                            <span class="invalid-feedback">{{ errors.first('kabupaten') }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="kecamatan">Kecamatan</label>
                                        <div class="col-md-9">
                                            <input
                                                    class="form-control text-uppercase"
                                                    :class="{'is-invalid': errors.has('kecamatan')}"
                                                    v-validate="'required'"
                                                    id="kecamatan"
                                                    type="text"
                                                    v-model="kecamatan"
                                                    name="kecamatan"
                                                    placeholder="Masukan Nama Kecamatan">
                                            <span class="invalid-feedback">{{ errors.first('kecamatan') }}</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label" for="alamat">Alamat</label>
                                        <div class="col-md-9">
                                            <textarea
                                                    name="alamat"
                                                    class="form-control text-uppercase"
                                                    :class="{'is-invalid': errors.has('alamat')}"
                                                    v-validate="'required'"
                                                    v-model="alamat"
                                                    id="alamat"
                                                    rows="4"
                                                    placeholder="Alamat Lengkap"></textarea>
                                            <span class="invalid-feedback">{{ errors.first('alamat') }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <h4><i class="fa fa-archive"></i>&nbsp;&nbsp;Data Produk</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right mb-3">
                                        <button class="btn btn-primary" v-on:click.prevent="onTambahProduk"><span class="fa fa-plus"></span>&nbsp;&nbsp;Tambah Produk</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase" style="width: 5%;">No</th>
                                    <th class="text-center text-uppercase">No. DO</th>
                                    <th class="text-center text-uppercase">No. Ref</th>
                                    <th class="text-center text-uppercase">Nama</th>
                                    <th class="text-center text-uppercase" width="10%">Kuantitas (Kg)</th>
                                    <th class="text-center text-uppercase" style="width: 5%;">Opsi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-show="produk.length > 0" v-for="(item, index) in produk">
                                    <td class="text-center">{{index+1}}</td>
                                    <td>
                                        <input type="text"
                                               class="form-control text-uppercase"
                                               :class="{'is-invalid': errors.has('produk['+index+'][no_do]')}"
                                               v-model="produk[index].no_do"
                                               :name="'produk['+index+'][no_do]'"
                                               v-validate="'required'"
                                               placeholder="Masukan No. DO">
                                        <span class="invalid-feedback">{{ errors.first('produk['+index+'][no_do]') }}</span>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control text-uppercase"
                                               :class="{'is-invalid': errors.has('produk['+index+'][no_ref]')}"
                                               v-model="produk[index].no_ref"
                                               :name="'produk['+index+'][no_ref]'"

                                               placeholder="Masukan No. Ref">
                                        <span class="invalid-feedback">{{ errors.first('produk['+index+'][no_ref]') }}</span>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control text-uppercase"
                                               :class="{'is-invalid': errors.has('produk['+index+'][nama]')}"
                                               :name="'produk['+index+'][nama]'"
                                               v-validate="'required'"
                                               v-model="produk[index].nama"
                                               placeholder="Masukan Nama Produk">
                                        <span class="invalid-feedback">{{ errors.first('produk['+index+'][nama]') }}</span>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control text-uppercase text-center"
                                               :name="'produk['+index+'][kuantitas]'"
                                               v-validate="'required|min_value:1|numeric'"
                                               :class="{'is-invalid': errors.has('produk['+index+'][kuantitas]')}"
                                               v-model="produk[index].kuantitas"
                                               placeholder="Masukan Kuantitas">
                                        <span class="invalid-feedback">{{ errors.first('produk['+index+'][kuantitas]') }}</span>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm" v-on:click.prevent="onHapusProduk(index)"><span class="fa fa-close"></span></button>
                                    </td>
                                </tr>
                                <tr v-show="produk.length < 1">
                                    <td colspan="6" class="text-center">Tidak Terdapat Produk Untuk Dikirim</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit Form</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import VeeValidate from 'vee-validate';
    import {id} from 'vuejs-datepicker/dist/locale'
    var state = {
        date: new Date()
    };

    Vue.use(VeeValidate);

    export default {
        props: [ 'code', 'token', 'dataUrl'],
        components: {
            Datepicker: Datepicker
        },
        data: function() {
            return {
                selected: '',
                driver: '',
                id: id,
                no_ref: '',
                client: '',
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                tanggal: new Date(),
                alamat: '',
                penerima: '',
                no_kendaraan: '',
                produk: [],
                // Untuk Sementara
                showDataKendaraan: false,
                no_plat : '',
                pabrikan : '',
                no_seri : '',
                no_mesin : '',
                bpkb    : '',
                kir     : ''
            }
        },
        mounted() {

        },
        methods: {
            customFormatter(date) {
                return moment(date).format('DD/MM/YYYY');
            },
            async onChangeDriver(value){
                const res = await axios.get(`/ajax/get_data_driver_kendaraan/${value}`)
                    .then(function(response){
                        // console.log(response.data[0]);
                        // if(Array.isArray(response.data)){
                            return response;

                        //     this.no_plat = data2.no_plat ? data2.no_plat.toUpperCase() : '-';
                        //     this.pabrikan = data2.pabrikan ? data2.pabrikan.toUpperCase() : '-';
                        //     this.no_seri = data2.seri ? data2.seri.toUpperCase() : '-';
                        //     this.no_mesin = data2.no_mesin ? data2.no_mesin.toUpperCase() : '-';
                        //     this.bpkb = data2.bpkb ? data2.bpkb.toUpperCase() : '-';
                        //     this.kir = data2.kir ? data2.kir.toUpperCase() : '-';
                        //     this.showDataKendaraan= true;
                        // console.log(this.kir);
                        // }else{
                        //     alert('Terjadi Masalah pada jaringan anda..')
                        //     this.showDataKendaraan= false;
                        // }
                    }).catch(function(err){
                    return err;
                })
                if(res.status === 200){
                        const data2 = res.data[0];
                        this.no_plat = data2.no_plat ? data2.no_plat.toUpperCase() : '-';
                        this.no_kendaraan = data2.no_plat ? data2.no_plat.toUpperCase() : '-';
                        this.pabrikan = data2.pabrikan ? data2.pabrikan.toUpperCase() : '-';
                        this.no_seri = data2.seri ? data2.seri.toUpperCase() : '-';
                        this.no_mesin = data2.no_mesin ? data2.no_mesin.toUpperCase() : '-';
                        this.bpkb = data2.bpkb ? data2.bpkb.toUpperCase() : '-';
                        this.kir = data2.kir ? data2.kir.toUpperCase() : '-';
                        this.showDataKendaraan= true;
                }else {
                    this.showDataKendaraan= false;
                }
            },
            onTambahProduk() {
                var item = {
                    kode : '',
                    nama : '',
                    kuantitas : 0
                };
                this.produk.push(item);
            },
            onHapusProduk(index) {
                this.produk.splice(index,  1);
            },
            onSubmit(){
                this.$validator.validate().then(valid => {
                    if (valid) {
                        document.getElementById('form_tambah_do').submit();
                    }
                });
            }

        }
    }
</script>
