<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <strong>Edit Data Produk</strong> Delivery Order
                        </div>
                        <form id="form_tambah_do" @submit.prevent="onSubmit" :action="this.dataUrl" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" :value="token">
                            <input type="hidden" name="id" :value="idDo">
                            <div class="card-body">

                                <h4><i class="fa fa-archive"></i>&nbsp;&nbsp;Data Produk</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="float-right mb-3">
                                            <button class="btn btn-primary" v-on:click.prevent="onTambahProduk"><span class="fa fa-plus"></span>&nbsp;&nbsp;Tambah Produk</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase">No</th>
                                        <th class="text-center text-uppercase">Kode</th>
                                        <th class="text-center text-uppercase">Nama</th>
                                        <th class="text-center text-uppercase" width="10%">Kuantitas (Kg)</th>
                                        <th class="text-center text-uppercase" width="10%">Opsi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-show="produk.length > 0" v-for="(item, index) in produk">
                                        <td class="text-center">{{index+1}}</td>
                                        <td>
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   :class="{'is-invalid': errors.has('produk['+index+'][kode]')}"
                                                   v-model="produk[index].kode"
                                                   :name="'produk['+index+'][kode]'"
                                                   v-validate="'required'"
                                                   placeholder="Masukan Kode Produk">
                                            <span class="invalid-feedback">{{ errors.first('produk['+index+'][kode]') }}</span>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   :class="{'is-invalid': errors.has('produk['+index+'][nama]')}"
                                                   :name="'produk['+index+'][nama]'"
                                                   v-validate="'required'"
                                                   v-model="produk[index].nama"
                                                   placeholder="Masukan Nama Produk">
                                            <span class="invalid-feedback">{{ errors.first('produk['+index+'][nama]') }}</span>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   class="form-control text-uppercase text-center"
                                                   :name="'produk['+index+'][kuantitas]'"
                                                   v-validate="'required|min_value:1|numeric'"
                                                   :class="{'is-invalid': errors.has('produk['+index+'][kuantitas]')}"
                                                   v-model="produk[index].kuantitas"
                                                   placeholder="Masukan Kuantitas">
                                            <span class="invalid-feedback">{{ errors.first('produk['+index+'][kuantitas]') }}</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm" v-on:click.prevent="onHapusProduk(index)"><span class="fa fa-close"></span></button>
                                        </td>
                                    </tr>
                                    <tr v-show="produk.length < 1">
                                        <td colspan="5" class="text-center">Tidak Terdapat Produk Untuk Dikirim</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Simpan Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import VeeValidate from 'vee-validate';
    var state = {
        date: new Date()
    };

    Vue.use(VeeValidate);

    export default {
        props: ['code', 'do', 'dataUrl', 'token', 'detile'],
        components: {
            Datepicker: Datepicker
        },
        data: function() {
            return {
                tanggal: new Date(),
                idDo: 0,
                selected: '',
                driver: '',
                client: '',
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                alamat: '',
                penerima: '',
                no_kendaraan: '',
                produk: []
            }
        },
        mounted() {
            const parseDo = JSON.parse(this.do);
            const parseDetile = JSON.parse(this.detile);
            console.log(parseDetile);
            this.provinsi =  parseDo.provinsi;
            this.kabupaten =  parseDo.kabupaten;
            this.kecamatan =  parseDo.kecamatan;
            this.alamat =  parseDo.alamat;
            this.no_kendaraan = parseDo.no_kendaraan;
            this.client = parseDo.client_id;
            this.produk = parseDetile;
            this.idDo = parseDo.id;
        },
        methods: {
            customFormatter(date) {
                return moment(date).format('DD/MM/YYYY');
            },
            onTambahProduk() {
                var item = {
                    kode : '',
                    nama : '',
                    kuantitas : 0
                };
                this.produk.push(item);
            },
            onHapusProduk(index) {
                this.produk.splice(index,  1);
            },
            onSubmit(){
                this.$validator.validate().then(valid => {
                    if (valid) {
                        document.getElementById('form_tambah_do').submit();
                    }
                });
            }

        }
    }
</script>
