@import "custom";
@import "~@coreui/coreui/scss/coreui";

@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";
@import '~gijgo/css/gijgo.min.css';
.table-fix th, .table-fix td {
  padding: 0.45rem;
  vertical-align: top;
  //table-layout: fixed;
  word-wrap: break-word;

  min-width: 60px;
  max-width: 200px;
}

#notif_list{
  max-height: 350px; overflow-y: auto;
}


