<template>
    <select class="form-control" :name="name">
        <slot></slot>
    </select>
</template>


<script>
    import Select2 from 'select2';

    export default {
        props: [
            'options',
            'service_areas',
            'placeholder',
            'name',
            'dataAjax',
            'value',
            'name',
        ],
        data () {
            return {
                msg: '',
            }
        },
        mounted () {
            let vm = this;

            $(this.$el)
                .select2({
                    placeholder:  this.placeholder ,
                    minimumInputLength: 3,
                    theme: 'bootstrap',
                    ajax: {
                        url: this.dataAjax,
                        dataType: 'json',
                        data: function (params) {
                            return {
                                q: $.trim(params.term)
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        cache: true
                    },
                    templateResult: function (area) {
                        if (!area.id) {
                            return area.text;
                        }
                        return $('<span><strong><i class="fa fa-' + area.icon + '"></i></strong> ' + area.text +'</span>');
                    },
                    templateSelection: function (area) {
                        if (!area.id) {
                            return area.text;
                        }
                        return $('<span><strong><i class="fa fa-' + area.icon + '"></i></strong> ' + area.text +'</span>');
                    },
                })
                .val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value)
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value).trigger('change');
            },
            options: function () {
                // update options
                $(this.$el).select2({ data: options })
            },
            service_areas: function(value) {

            },
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>